/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
  user-select: none;
}

:focus { outline: none; }

body {
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: #0f0f13;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  font-weight: 300;
}

.sideText {
  color: #9F9F9F;
  line-height: 1.4;
}

/* ===========================================SOCIALS=========================================== */

.socialIcons {
  position: fixed;
  width: fit-content;
  float: right;
  bottom: 40px;
  right: 40px;
}

.socials {
  mix-blend-mode: difference;
  display: block;
  fill: #ebebeb;
  transition: .2s;
  transform: scale(.9);
}

.insta {
  margin-bottom: 30%;
}

.insta:hover {
  fill: #EE00FF;
}

.twitter:hover {
  fill: #5400FF;
}

.link{
  transform: scale(1.5);
  padding-left: 30%;
}

.link:hover{
  fill: #9F9F9F;
}
