<div class="toolbar" role="banner">
  <div class="nav left-align-nav">
    <button (click)="openNav()" class="menuBtn">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="11" viewBox="0 0 40 11"><defs><style>.a,.b{fill:none;stroke:#ebebeb;stroke-linecap:round;}.a{stroke-width:2px;}</style></defs><g transform="translate(1 1)"><line class="a" x2="36.467"/><line class="b" x2="36.467" transform="translate(0 9.117)"/></g></svg>
    </button>
  </div>
  
  <div class="nav center-align-nav">
    <img routerLink="/home" routerLinkActive="active" class="logo" src="assets/svg/dotsnpixLogo2.svg">
  </div>
  
  <div class="nav right-align-nav">
    <div routerLink="/tickets" routerLinkActive="active" class="getTicketsBtn">
      <p>GET TICKETS</p>
    </div>
  </div>
</div>