<!-- EXTRA CLICKOUTSIDE PACKAGE ADDED -->
<div (clickOutside)="closeNav($event)" class="overlay" id="navOverlay">
  <ul>
    <li routerLink="/home" routerLinkActive="active">HOME</li>
    <li routerLink="/program" routerLinkActive="active">PROGRAM</li>
    <li routerLink="/tickets" routerLinkActive="active">TICKETS</li>
    <li routerLink="/practical" routerLinkActive="active">PRACTICAL</li>
    <li routerLink="/about" routerLinkActive="active">ABOUT</li>
    <li routerLink="/partners" routerLinkActive="active">PARTNERS</li>
  </ul>
</div>
