.app {
  background: #202020;
  height: 100vh;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* TEST VOOR PORTFOLIO SITE */

.bg{
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .7;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.wrapper {
  padding-top: 30vh;
}

.headers {
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 3.5vh;
}

.headers h1 {
  font-weight: 900;
  font-size: 2.6em;
  margin: 0;
  background-color: rgb(111, 207, 22);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.headers h3 {
  font-weight: 200;
  margin: 0;
}

.logo {
  width: 3.5%;
  padding: 1.5%;
  margin: auto;
}

.logo svg path {
  fill: #e8e8e8;
}

.logo svg line {
  stroke: #e8e8e8;
}

.todo-list {
  background: #e8e8e8;
  margin: auto;
  border-radius: 4px;
  max-width: 500px;
  padding: 15px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 9px;
  padding: 9px 15px;
}

.buttons button {
  outline: none;
  border-radius: 0;
  font-size: 12px;
  padding: 6px 10px;
  margin-left: 9px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.buttons button:last-child {
  background-color: #EEBDC1;
}

form {
  margin-bottom: 4vh;
  height: 10vh;
  display: flex;
  flex-direction: column;
  color: #e8e8e8;
}

form input {
  outline: none;
  border: none;
  padding: 10px 15px;
  
  justify-content: center;
  align-self: center;
  box-shadow: none;
  font-size: 12px;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.progress-bar{
  height: 5px;
  background: rgb(111, 207, 22);
  margin-top: 20px;
}

footer {
  text-align: center;
  color: #e8e8e8;
  font-size: 13px;
  font-weight: 200;
}